<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="../styles/codeTomorrowTheme.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Snippet Hub</title>
</head>

<body class="page">
    <header class="page-nav" id="header">
        <div class="start-flex-group">
            <h2 class="site-heading">Snippet Hub</h2>
            <form class="search-form" id="searchForm">
                <button type="submit" class="icon-btn scale-btn" id="searchBtn">
                    <i class="material-icons">search</i>
                </button>
                <input type="search" class="search-field" id="searchField" placeholder="Search">
            </form>
        </div>
        <div class="end-flex-group">
            <button class="icon-btn scale-btn">
                <i class="material-icons">add</i>
            </button>
            <button class="icon-btn">
                <i class="material-icons">notifications</i>
            </button>
            <div class="dropdown">
                <img src="../images/avatar_placeholder.png" class="profile-dropbtn" alt="avatar">
                <div class="dropdown-content">
                    <a href="#">Edit profile</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <form class="mobile-search-form" id="mobileSearchForm">
            <button type="submit" class="icon-btn scale-btn" id="searchBtn">
                <i class="material-icons">search</i>
            </button>
            <input type="search" class="search-field" id="searchField" placeholder="Search">
        </form>
    </section>
    <div class="page-content profile-view-flex">
        <aside class="sidebar">
            <img src="../images/avatar_placeholder.png" class="sidebar-avatar" alt="avatar">
            <h3 id="username">Username</h3>
            <p id="aboutProfile">Smth about lorem</p>
        </aside>
        <main class="tabs-menu">
            <nav class="tab-panel">
                <a href="#" class="tab-link" onclick="openTab(event, 'userSnippets');">Snippets</a>
                <a href="#" class="tab-link" onclick="openTab(event, 'followers');">Followers</a>
                <a href="#" class="tab-link" onclick="openTab(event, 'following');">Following</a>
                <a href="#" class="tab-link" onclick="openTab(event, 'savedSnippets');">Saved</a>
            </nav>
            <div id="followers" class="tab-content">
                <ul class="follow-list">
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">coose</h5>
                        <p class=about-list>54 y.o.</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">goblinn</h5>
                        <p class=about-list>iOS developer</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">gwyrwch</h5>
                        <p class=about-list>student at BSUIR</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">levir</h5>
                        <p class=about-list></p>
                    </li>
                </ul>
            </div>
            <div id="following" class="tab-content">
                <ul class="follow-list">
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">goblinn</h5>
                        <p class=about-list>iOS developer</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">coose</h5>
                        <p class=about-list>54 y.o.</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">gwyrwch</h5>
                        <p class=about-list>student at BSUIR</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">levir</h5>
                        <p class=about-list></p>
                    </li>
                </ul>
            </div>
            <div id="following" class="tab-content">
                <ul class="follow-list">
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">goblinn</h5>
                        <p class=about-list>iOS developer</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">coose</h5>
                        <p class=about-list>54 y.o.</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">gwyrwch</h5>
                        <p class=about-list>student at BSUIR</p>
                    </li>
                    <li>
                        <img src="../images/avatar_placeholder.png" alt="avatar">
                        <h5 class="username">levir</h5>
                        <p class=about-list></p>
                    </li>
                </ul>
            </div>
            <div id="userSnippets" class="tab-content">
                <ul class="snippets">
                    <li>
                        <div class="snippet-demo-header">
                            <h5 class="snippet-demo-name">
                                initnitnitnitnitnitnit
                            </h5>
                            <p class="snippet-demo-lang">C++</p>
                        </div>
                        <pre class="prettyprint linenums lang-cpp">
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;
                        </pre>
                    </li>
                    <li>
                        <div class="snippet-demo-header">
                            <h5 class="snippet-demo-name">
                                repeat
                            </h5>
                            <p class="snippet-demo-lang">C++</p>
                        </div>
                        <pre class="prettyprint linenums lang-cpp">
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;
                        </pre>
                    </li>
                    <li>
                        <div class="snippet-demo-header">
                            <h5 class="snippet-demo-name">
                                initnitnitnitnitnitnitn
                            </h5>
                            <p class="snippet-demo-lang">C++</p>
                        </div>
                        <pre class="prettyprint linenums lang-cpp">
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;
                        </pre>
                    </li>
                </ul>
            </div>
            <div id="savedSnippets" class="tab-content">
                <ul class="snippets">
                    <li>
                        <div class="snippet-demo-header">
                            <h5 class="snippet-demo-name">
                                initnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitinitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnitnit
                            </h5>
                            <p class="snippet-demo-lang">C++</p>
                        </div>
                        <pre class="prettyprint linenums lang-cpp">
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;
                        </pre>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <footer class="page-footer">
        <p class="center-text">© Snippet Hub, 2020</p>
    </footer>

</body>
<script>
    function openTab(event, tabId) {
        var i, tabLinks, tabContent;
        tabLinks = document.getElementsByClassName("tab-link");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" current", "");
        }
        tabContent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        event.currentTarget.className += " current";
        document.getElementById(tabId).style.display = "block";
    }
</script>

</html>