<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="../styles/codeTomorrowTheme.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Snippet Hub</title>
</head>

<body class="page">
    <header class="page-nav" id="header">
        <div class="start-flex-group">
            <h2 class="site-heading">Snippet Hub</h2>
            <form class="search-form" id="searchForm">
                <button type="submit" class="icon-btn scale-btn" id="searchBtn">
                    <i class="material-icons">search</i>
                </button>
                <input type="search" class="search-field" id="searchField" placeholder="Search">
            </form>
        </div>
        <div class="end-flex-group">
            <button class="icon-btn scale-btn">
                <i class="material-icons">add</i>
            </button>
            <button class="icon-btn scale-btn">
                <i class="material-icons">notifications</i>
            </button>
            <div class="dropdown">
                <img src="../images/avatar_placeholder.png" class="profile-dropbtn" alt="avatar">
                <div class="dropdown-content">
                    <a href="#">Edit profile</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <form class="snippet-form" method="post">
            <h3 class="mb-20">New snippet</h3>
            <fieldset class='access-fieldset'>
                <legend>Access</legend>
                <input id='isPublic' name='access' type='radio' value="public" checked />
                <label for='isPublic' class='radio-label'>Public</label>
                <input id='isPrivate' name='access' type='radio' value="private" />
                <label for='isPrivate' class='radio-label'>Private</label>
            </fieldset>
            <div class="snippet-form-header">
                <input type="text" name="snippetName" id="snippetName" placeholder="Snippet name w/o extension" required maxlength="120">
                <select name="lang" id="snippetLang">
                    <option value="">Bash</option>
                    <option value="">JavaScript</option>
                    <option value="">Java</option>
                    <option value="">HTML</option>
                    <option value="">C</option>
                    <option value="">C++</option>
                    <option value="">C#</option>
                    <option value="">CSS</option>
                    <option value="">Python</option>
                    <option value="">Rust</option>
                    <option value="">XML</option>
                </select>
            </div>
            <textarea name="" id="" placeholder="Snippet here" wrap="off" required></textarea>
            <button class="primary-btn form-btn" type="submit">Create</button>
        </form>
    </main>
    <footer class="page-footer">
        <p class="center-text">© Snippet Hub, 2020</p>
    </footer>
</body>

</html>