<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="../styles/codeTomorrowTheme.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Snippet Hub</title>
</head>

<body class="page">
    <header class="page-nav" id="header">
        <div class="start-flex-group">
            <h2 class="site-heading">Snippet Hub</h2>
            <form class="search-form" id="searchForm">
                <button type="submit" class="icon-btn scale-btn" id="searchBtn">
                    <i class="material-icons">search</i>
                </button>
                <input type="search" class="search-field" id="searchField" placeholder="Search">
            </form>
        </div>
        <div class="end-flex-group">
            <button class="icon-btn scale-btn">
                <i class="material-icons">add</i>
            </button>
            <button class="icon-btn scale-btn">
                <i class="material-icons">notifications</i>
            </button>
            <div class="dropdown">
                <img src="../images/avatar_placeholder.png" class="profile-dropbtn" alt="avatar">
                <div class="dropdown-content">
                    <a href="#">Edit profile</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main class="page-content">
        <h3 class="info-text" id="snippetName">File</h3>
        <time class="info-text" id="dateText" datetime=""> At Feb 12, 2020</time>
        <div class="snippet-container">
            <section class="snippet-header">
                <div class="start-flex-group">
                    <img src="../images/avatar_placeholder.png" class="profile-img" alt="avatar">
                    <p id="snippetLang">C++</p>
                </div>
                <div class="end-flex-group">
                    <button class="primary-btn">
                        Edit
                    </button>
                    <button class="primary-btn">
                        Delete
                    </button>
                    <button class="btn icon-btn" id="saveBtn">
                        <i class="material-icons" id="saveStateIc">bookmark</i>
                    </button>
                </div>
            </section>
            <pre class="prettyprint linenums lang-cpp">
int x = 42;  /* This is a comment 
Continuation of comment */
int y = 7;


int main() {
    while(true) {
        printf("sippin on straight chlorine");
    }
    return 0;
}
            </pre>
        </div>
    </main>
    <footer class="page-footer">
        <p class="center-text">© Snippet Hub, 2020</p>
    </footer>
</body>

<script>
    document.getElementById("saveBtn").addEventListener("click", function () {
        let state = document.getElementById("saveStateIc").innerHTML;
        if (state == "bookmark") {
            document.getElementById("saveStateIc").innerHTML = "bookmark_border";
        } else {
            document.getElementById("saveStateIc").innerHTML = "bookmark";
        }
    });
</script>

</html>