<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <title>Snippet Hub</title>
</head>

<body>
    <header id="header">
        <h2>Snippet Hub</h2>
        <input type="text" id="search_input" placeholder="Search">
        <button>
            <i class="material-icons">add</i>
        </button>
        <button>
            <i class="material-icons">notifications</i>
        </button>
        <select name="option" id="profile_options">
            <option value="edit_profile">Edit profile</option>
            <option value="logout">Logout</option>
        </select>
    </header>
    <aside class="sidebar">
        <img src="" alt="profile avatar">
        <h3 id="username">Username</h3>
        <p id="about_profile">Smth about lorem</p>
    </aside>
    <main id="content">
        <nav id="tabs_bar">
            <a href="">Snippets</a>
            <a href="">Followers</a>
            <a href="">Following</a>
            <a href="">Saved</a>
        </nav>
        <div id="tab_content">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
    </main>
    <footer>
        c - Snippet Hub
    </footer>
</body>

</html>