<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippet Hub - Login</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <legend>Login</legend>
            <label for="username">Username</label>
            <input type="text" name="username" id="">
            <label for="password">Password</label>
            <input type="password" name="password" id="">
            <input type="submit" value="Login">
        </fieldset>
    </form>
</body>

</html>