<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
        <link rel="stylesheet" href="../styles/codeTomorrowTheme.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <title>Snippet Hub</title>
    </head>

<body class="page">
    <header class="page-nav" id="header">
        <div class="text-group">
            <h2 class="site-heading">Snippet Hub</h2>
            <button class="icon-btn" id="searchBtn">
                <i class="material-icons">search</i>
            </button>
            <input type="text" class="search-field" id="searchField" placeholder="Search">
        </div>
        <div class="row-group">
            <button class="icon-btn">
                <i class="material-icons">add</i>
            </button>
            <button class="icon-btn">
                <i class="material-icons">notifications</i>
            </button>
            <div class="dropdown">
                <img src="../images/avatar_placeholder.png" class="profile-dropbtn" alt="avatar">
                <div class="dropdown-content">
                    <a href="#">Edit profile</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <form action="" method="post">
            <fieldset>
                <legend>Edit profile</legend>
    
                <label for="username">Username</label>
                <input type="text" name="username" id="">
    
                <label for="firstName">First name</label>
                <input type="text" name="firstName" id="">
                
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" id="">
    
                <label for="about">Short tell about yourself</label>
                <textarea name="about" id="" cols="30" rows="10"></textarea>

                <label for="avatar">Profile image</label>
                <input type="file" name="avatar"></input>
    
                <input type="submit" value="Save">
            </fieldset>
        </form>
    </main>
    <footer class="page-footer">
        <p class="center-text">© Snippet Hub, 2020</p>
    </footer>
</body>

</html>