<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snippet Hub - Sign Up</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <legend>Sign Up</legend>

            <label for="username">Username</label>
            <input type="text" name="username" id="">

            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="">
            
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="">

            <label for="email">Email</label>
            <input type="email" name="email" id="">

            <label for="password">Password</label>
            <input type="password" name="password" id="">

            <label for="confirmPassword">Password again</label>
            <input type="password" name="confirmPassword" id="">

            <input type="submit" value="Sign Up">
        </fieldset>
    </form>
</body>

</html>