<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <title>Snippet Hub</title>
</head>

<body>
    <header id="header">
        <h2>Snippet Hub</h2>
        <input type="text" id="search_input" placeholder="Search">
        <button>
            <i class="material-icons">add</i>
        </button>
        <button>
            <i class="material-icons">notifications</i>
        </button>
        <select name="option" id="profile_options">
            <option value="edit_profile">Edit profile</option>
            <option value="logout">Logout</option>
        </select>
    </header>
    <main>
        <form method="post">
            <input type="text" name="snippetName" id="snippetName">
            <select name="lang" id="snippetLang">
                <option value="">C++</option>
                <option value="">Java</option>
                <option value="">Python</option>
            </select>
            <hr>
            <textarea name="" id="" cols="125" rows="35" placeholder="Snippet here">
            </textarea>
            <input type="submit" value="Create">
        </form>
    </main>
    <footer>
        c - Snippet Hub
    </footer>
</body>

</html>